<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>art/backButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{203, 307}, {98, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 100}}</string>
			<key>sourceSize</key>
			<string>{98, 100}</string>
		</dict>
		<key>art/facebookbutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 103}, {500, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {500, 100}}</string>
			<key>sourceSize</key>
			<string>{500, 100}</string>
		</dict>
		<key>art/facebookbuttonsmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{203, 409}, {98, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 100}}</string>
			<key>sourceSize</key>
			<string>{98, 100}</string>
		</dict>
		<key>art/mafialogo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 307}, {200, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>art/nexbutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 205}, {500, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {500, 100}}</string>
			<key>sourceSize</key>
			<string>{500, 100}</string>
		</dict>
		<key>art/twittericon.png</key>
		<dict>
			<key>frame</key>
			<string>{{303, 307}, {50, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>art/unlockbutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {500, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {500, 100}}</string>
			<key>sourceSize</key>
			<string>{500, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>art.png</string>
	</dict>
</dict>
</plist>
